{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/CarbonDesignSystem.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/PulsarBlackBorder.png' %}">
    <title>Accounts | algrant</title>
</head>
<body>
    <h6>algrant | account management</h6>
    <div class="centralLarge">
        <div class="card">
            {% block accounts %}
            {% endblock %}
        </div>
    </div>
</body>
</html>