{% extends './base.html' %}

{% block sidebar %}
    {% if my_friends_list %}
    <ul>
        {% for friend in my_friends_list %}
        <li>
            <a href="{% url 'user_profile' username=friend.username %}">{{friend.username}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>no friends yet</p>
    {% endif %}
{% endblock %}

{% block main %}
<h3>All Algrant users</h3>
{% if all_users %}
    {% for this_user in all_users %}
    <a href="{% url 'user_profile' username=this_user.username %}">{{this_user.username}}</a>
    {% endfor %}
{% endif %}
{% endblock %}

{% block main_bottom %}
<form action="{% url 'search_results' %}" method="post">
    {% csrf_token %}
    <input class="search" type="text" name="search_text" placeholder="Search posts and people" required>
</form>
{% endblock %}

{% block explorer %}
<a href="{% url 'index' %}">Index</a>
<a href="{% url 'all_users' %}">People</a>
{% endblock %}