{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/CarbonDesignSystem.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'icons/PulsarBlackBorder.png' %}">
    <link rel="manifest" href="{% static 'manifest/algrant.webmanifest' %}" />
    <title>algrant</title>
</head>
<body>
    <header>
        <p>algrant</p>
    </header>
    <nav>
        <a href="{% url 'index' %}">Index</a>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" style="float:right">{{user.username}}</a>
        <a href="{% url 'my_conversations' %}" style="float: right;">Chats: {{unseen_messages}}</a>
        <a href="{% url 'notifications' %}" style="float:right">Notifications {{unseen_friendship_requests}} | {{unseen_comments}}</a>
        {% endif %}
    </nav>
    <div class="sideBar">
        <p>people | <a href="{% url 'all_users' %}">See all</a></p>
        <div class="sideBarSub">
            {% if my_friends_list %}
            <ul>
                {% for friend in my_friends_list %}
                <li>
                    <a href="{% url 'user_profile' username=friend.username %}">{{friend.username}}</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>no friends yet</p>
            {% endif %}
        </div>
        <div class="sideBarBottom">
            <div class="divider"></div>
            <a href="https://studiopulsar.pro">Studio Pulsar</a>
            <p>we like it simple</p>
        </div>
    </div>
    <main>
        {% block main %}
        <a href="" onclick="subscribeUser()">Activate push notifications</a>
        {% endblock %}
    </main>
    <div class="main_bottom">
        {% block main_bottom %}
        {% endblock %}
    </div>
    <div class="explorer">
        <a href="#" id="enable-push-notifications">Enable push</a>
        {% block explorer %}
        {% endblock %}
    </div>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Wait for the DOM to fully load
        const enablePushNotificationsLink = document.getElementById('enable-push-notifications');
        
        if (enablePushNotificationsLink) {
            enablePushNotificationsLink.addEventListener('click', handlePushNotification);
        }
    });

    function handlePushNotification(event) {
        event.preventDefault(); // Prevent link default behavior

        Notification.requestPermission().then(function(permission) {
            if (permission === 'granted') {
                console.log('Permission granted for notifications');
                subscribeUser(); // Proceed to subscribe if permission is granted
            } else {
                console.log('Permission denied or dismissed');
            }
        }).catch(function(error) {
            console.error('Error while requesting permission:', error);
        });
    }
        
    function subscribeUser() {
        console.log('Subscribing the user...')
        navigator.serviceWorker.ready.then(function(registration) {
            console.log('Service worker is ready');
            const vapidPublicKey = "{{vapid_public_key}}";
            const convertedVapidKey = urlBase64ToUint8Array(vapidPublicKey);
            registration.pushManager.subscribe({
                userVisibleOnly: true,
                applicationServerKey: convertedVapidKey
            }).then(function(subscription) {
                console.log('Sending subscription data to server...');
                fetch('{% url "save_subscription" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken  // Ensure CSRF token is properly set
                    },
                    body: JSON.stringify(subscription)
                })
                .then(function(response) {
                    if (response.ok) {
                        console.log('Subscription successfully sent to server');
                    } else {
                        console.log('Failed to send subscription to server:', response.statusText);
                    }
                })
                .catch(function(error) {
                    console.error('Error during subscription fetch:', error);
                });
            }).catch(function(error) {
                console.error('Error during subscription:', error);
            });
        });
    }

    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('../static/push_notifications/service-worker.js')
        .then(function(registration) {
            console.log('Service Worker registered with scope:', registration.scope);
        }).catch(function(error) {
            console.error('Service Worker registration failed:', error);
        });
    }
        
    function urlBase64ToUint8Array(base64String) {
        const padding = '='.repeat((4 - base64String.length % 4) % 4);
        const base64 = (base64String + padding)
            .replace(/\-/g, '+')
            .replace(/_/g, '/');

        const rawData = window.atob(base64);
        const outputArray = new Uint8Array(rawData.length);

        for (let i = 0; i < rawData.length; ++i) {
            outputArray[i] = rawData.charCodeAt(i);
        }
        return outputArray;
    }
</script>
