{% extends './conversation_base.html' %}

{% block main %}
<h6>{{conversation.conversation_name}}/Settings</h6>
<div class="divider"></div>

<!-- ADD PARTICIPANTS TO CONVERSATION -->
{% if conversation.admin_id == request.user.id %}
    <h3>Admin dashboard</h3>
    <h4>Add participants</h4>
    <div class="card">
        <form method="post" action="{% url 'add_participants' conversation.id %}">
            {% csrf_token %}
            <select name="friends" id="friends" multiple>
                {% for friend in my_friends_list %}
                <option value="{{friend.id}}">{{friend.username}}</option>
                {% endfor %}
            </select>
            <button class="success" type="submit">Add to conversation</button>
        </form>
    </div>
    <h4>Remove participants</h4>
    <div class="card">
        <form method="post" action="{% url 'remove_participants' conversation.id %}">
            {% csrf_token %}
            <select name="participants" id="participants" multiple>
                {% for participant in conversation.participants.all %}
                    {% if participant != request.user %}
                    <option value="{{participant.id}}">{{participant.username}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button class="success" type="submit">Remove from conversation</button>
        </form>
    </div>
    <h4>Administration</h4>
    <div style="text-align: right;">
        <form action="{% url 'delete_conversation' %}" id="delete-conversation-form" method="post">
            {% csrf_token %}
            <input type="hidden" name="conversation_id" value="{{conversation.id}}">
            <button class="danger" type="submit">Delete conversation</button>
        </form>
    </div>
    {% endif %}
{% endblock %}

{% block main_bottom %}
    <form action="{% url 'new_message' conversation_id=conversation.id %}" method="post">
        {% csrf_token %}
        <input class="search" type="text" name="message_text" placeholder="Write your message here" required>
    </form>
{% endblock %}

<div class="explorer">
    <a href="{% url 'index' %}">Index</a>
    <a href="{% url 'all_users' %}">Algrant people</a>
</div>