{% extends './base.html' %}
{% load static %}

{% block sidebar %}
    {% if my_friends_list %}
    <ul>
        {% for friend in my_friends_list %}
        <li>
            <a href="{% url 'user_profile' user_id=friend.id %}">{{friend.username}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>no friends yet</p>
    {% endif %}
{% endblock %}

{% block main %}
    <h6>{{posts_amount}} posts published</h6>
    <div class="card">
        <h3>{{user.username}}, would you like writing something?</h3>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            <input type="text" name="post_content" placeholder="write here..." required>
            <button class="success" type="submit">share</button>
        </form>
    </div>
    <h3>latest posts</h3>
    {% for post in posts %}
        <div class="divider"></div>
        <a href="{% url 'user_profile' user_id=post.created_by.id %}">{{post.created_by}}</a>
        <span>{{post.date_time}}</span>
        <p>{{ post.content }}</p>
        <!-- <a href="">Like <img src="{% static 'icons/heart_empty.png' %}" height="13px" alt="love"></a> -->
        <a href="{% url 'post_detail' post_id=post.id %}">Open</a>
    {% endfor %}
{% endblock %}

{% block explorer %}
<a href="{% url 'all_users' %}">Algrant people</a>
<a href="{% url 'index' %}">Index</a>
{% endblock %}
