{% extends './base.html' %}
{% load static %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    <p>Algrant</p>
{% endblock %}

{% block main %}
    <h6>{{posts_amount}} posts published</h6>
    <div class="card">
        <h3>{{user.username}}, would you like writing something?</h3>
        <form action="{% url 'new_post' %}" method="post">
            {% csrf_token %}
            <input type="text" name="post_content" placeholder="write here..." required>
            <button class="success" type="submit">share</button>
        </form>
    </div>
    <h3>latest posts</h3>
    {% with index=0 %}
        {% for post in posts %}
            <div class="divider"></div>
            <a href="{% url 'user_profile' username=post.created_by.username %}">{{ post.created_by }}</a>
            <span>{{ post.date_time }}</span>
            <p>{{ post.content }}</p>
            <a href="{% url 'post_detail' post_id=post.id %}">Open</a>
            <!-- SPONSORS -->
            {% if sponsors and forloop.counter|divisibleby:3 %}
                {% with sponsor=sponsors|get_item_at_index:index %}
                    <div class="divider"></div>
                    <span>Algrant is sponsored by:</span>
                    <a href="{{ sponsor.website_url }}">{{ sponsor.name }}</a>
                    <h6>{{ sponsor.slogan }}</h6>
                    <a href="{% url 'support_algrant' %}">Support Algrant</a>
                {% endwith %}
                {% increase_index %}
            {% endif %}
        {% endfor %}
    {% endwith %}
{% endblock %}

{% block main_bottom %}
<form action="{% url 'search_results' %}" method="post">
    {% csrf_token %}
    <input class="search" type="text" name="search_text" placeholder="Search posts and people" required>
</form>
{% endblock %}

{% block explorer %}
<a href="{% url 'index' %}">Index</a>
<a href="{% url 'all_users' %}">People</a>
{% endblock %}

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const enablePushNotificationsLink = document.getElementById('enable-push-notifications');
        if (enablePushNotificationsLink) {
            enablePushNotificationsLink.addEventListener('click', subscribeToPushNotifications);
        }
    });
    
    console.log('Starting service worker registration');
    window.addEventListener('load', async function() {
        if ('serviceWorker' in navigator) {
            try {
                console.log('Registering service worker');
                const registration = await navigator.serviceWorker.register('{% url "service-worker.js" %}');
                console.log('Service Worker registered:', registration);
    
                registration.addEventListener('updatefound', () => {
                    console.log('Update found');
                    const installingWorker = registration.installing;
                    installingWorker.addEventListener('statechange', () => {
                        if (installingWorker.state === 'installed') {
                            if (navigator.serviceWorker.controller) {
                                console.log('New content is available; please refresh.');
                            } else {
                                console.log('Content is cached for offline use.');
                            }
                        }
                    });
                });
    
                navigator.serviceWorker.ready.then(function(registration) {
                    console.log('Service Worker is ready:', registration);
                    // Your code here
                }).catch(function(error) {
                    console.error('Service Worker ready check failed:', error);
                });
            } catch (error) {
                console.error('Service Worker registration failed:', error);
            }
        } else {
            console.warn('Service Workers are not supported in this browser.');
        }
    });
    
    function subscribeToPushNotifications(event) {
        // event.preventDefault();
        Notification.requestPermission().then(function(permission) {
            if (permission === 'granted') {
                console.log('Permission granted for notifications');
                subscribeUser(); // Proceed to subscribe if permission is granted
            } else {
                console.log('Permission denied or dismissed');
                window.alert('Notifications denied');
            }
        }).catch(function(error) {
            console.error('Error while requesting permission:', error);
        });
    }
        
    function subscribeUser() {
        console.log('Subscribing the user...');
        navigator.serviceWorker.ready.then(function(registration) {
            const vapidPublicKey = "{{vapid_public_key}}";
            console.log('vapid key: ', vapidPublicKey);
            const convertedVapidKey = urlBase64ToUint8Array(vapidPublicKey);
            console.log('converted vapid key: ', convertedVapidKey);
            registration.pushManager.subscribe({
                userVisibleOnly: true,
                applicationServerKey: convertedVapidKey
            })
            .then(function(subscription) {
                console.log('Sending subscription data to server...');
                fetch('{% url "save_push_subscription" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken  // Ensure CSRF token is properly set
                    },
                    body: JSON.stringify(subscription)
                })
                .then(function(response) {
                    if (response.ok) {
                        console.log('Subscription successfully sent to server');
                        window.alert('Push notifications activated');
                    } else {
                        console.log('Failed to send subscription to server:', response.statusText);
                    }
                })
                .catch(function(error) {
                    console.error('Error during subscription fetch:', error);
                    window.alert('Error during subscription');
                });
            }).catch(function(error) {
                console.error('Error during subscription:', error);
                console.log(error.body);
                window.alert('Error during subscription');
            });
        });
    }
        
    function urlBase64ToUint8Array(base64String) {
        const padding = '='.repeat((4 - base64String.length % 4) % 4);
        const base64 = (base64String + padding)
            .replace(/-/g, '+')
            .replace(/_/g, '/');
        const rawData = window.atob(base64);
        return new Uint8Array([...rawData].map(char => char.charCodeAt(0)));
    }
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    const csrftoken = getCookie('csrftoken');
</script>
{% endblock %}
