{% extends './base.html' %}

{% block sidebar %}
    {% if my_friends_list %}
    <ul>
        {% for friend in my_friends_list %}
        <li>
            <a href="{% url 'user_profile' user_id=friend.id %}">{{friend.username}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>no friends yet</p>
    {% endif %}
{% endblock %}

{% block main %}
<div class="centralMedium">
    <p>{{message}}</p>
    <a href="{% url 'index' %}">back to index</a>
</div>
{% endblock %}

{% block explorer %}
<a href="{% url 'index' %}">index</a>
{% endblock %}
