{% extends './base.html' %}

{% block main %}
    <h1>Welcome, {{user.username}}</h1>
    <div class="row">
        <div class="col4">
            <div class="card">
                <h3>New Post</h3>
                <button class="success" onclick='location.href="#burgerMenu"'>write a post now</button>
            </div>
        </div>
        <div class="col4">
            <div class="card">
                <h3>Friends</h3>
                <button class="success" onclick='location.href="#burgerMenu"'>see your friends</button>
            </div>
        </div>
        <div class="col4">
            <div class="card">
                <h3>Profile</h3>
                <button class="success" onclick='location.href="#burgerMenu"'>go to your profile</button>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="divider"></div>
    <h3>latest</h3>
    {% for post in posts %}
    <div class="card" style="margin-bottom: 16px;">
        <span>{{post.created_by}}</span>
        <p>{{ post.content }}</p>
        <button class="success">more</button>
    </div>
    {% endfor %}
{% endblock %}