{% extends './base.html' %}

{% block main %}
    <h6>notifications</h6>
    <div class="divider"></div>
    <h3>friendship requests</h3>
    {% if requests_with_usernames %}
        {% for request in requests_with_usernames %}
            <a href="{% url 'user_profile' username=request.from_user_username %}">{{request.from_user_username}}</a>
            <div class="row">
                <div class="col6">
                    <form action="{% url 'accept_friendship_request' friendship_request_id=request.id %}">
                        {% csrf_token %}
                        <button class="success" type="submit">accept</button>
                    </form>
                </div>
                <div class="col6">
                    <form action="{% url 'delete_friendship' to_user_id=request.id %}">
                        {% csrf_token %}
                        <button class="danger" type="submit">decline</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>there are no new friendship requests</p>
    {% endif %}
    <div class="divider"></div>
    <h3>received comments</h3>
    {% if received_comments %}
        {% for comment in received_comments %}
            <h6>you received a comment</h6>
            <a href="{% url 'user_profile' comment.created_by.username %}">{{comment.created_by.username}}</a>
            <p>{{comment.content}}</p>
            <a href="{% url 'post_detail' comment.post.id %}">See post</a>
        {% endfor %}
    {% else %}
        <p>there are no new comments</p>
    {% endif %}
{% endblock %}