{% extends './base.html' %}

{% block sidebar %}
    {% if my_friends_list %}
    <ul>
        {% for friend in my_friends_list %}
        <li>
            <a href="{% url 'user_profile' user_id=friend.id %}">{{friend.username}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>no friends yet</p>
    {% endif %}
{% endblock %}

{% block main %}
    <h6>post detail</h6>
    <div class="divider"></div>
    <a href="{% url 'user_profile' user_id=post.created_by.id %}">{{post.created_by}}</a>
    <span>{{post.date_time}}</span>
    <h5>{{post.content}}</h5>
    <div class="card">
        <form action="{% url 'new_comment' %}" method="post">
            {% csrf_token %}
            <input type="text" name="comment_content" placeholder="write a comment..." required>
            <input type="hidden" name="post_id" value="{{post.id}}">
            <button class="success" type="submit">comment</button>
        </form>
    </div>
    {% if comments %}
        <h3>comments</h3>
        {% for comment in comments %}
            <div class="divider"></div>
            <a href="{% url 'user_profile' user_id=comment.created_by.id %}">{{comment.created_by}}</a>
            <span>{{comment.date_time}}</span>
            <p>{{comment.content}}</p>
        {% endfor %}
    {% else %}
        <h3>no comments yet</h3>
    {% endif %}
    <a href="{% url 'index' %}">Back to index</a>
{% endblock %}

{% block explorer %}
<a href="{% url 'all_users' %}">Algrant people</a>
<a href="{% url 'index' %}">Index</a>
{% endblock %}
