{% extends './base.html' %}

{% block title %}
    <p>Algrant posts</p>
{% endblock %}

{% block main %}
    <h6>post detail</h6>
    <div class="divider"></div>
    <a href="{% url 'user_profile' username=this_post.created_by.username %}">{{this_post.created_by}}</a>
    {% if request.user == this_post.created_by %}
    <a href="{% url 'delete_post' post_id=this_post.id %}">Delete post</a>
    {% endif %}
    <span>{{this_post.date_time}}</span>
    <h5>{{this_post.content}}</h5>
    <div class="card">
        <form action="{% url 'new_comment' %}" method="post">
            {% csrf_token %}
            <input type="text" name="comment_content" placeholder="write a comment..." required>
            <input type="hidden" name="post_id" value="{{this_post.id}}">
            <button class="success" type="submit">comment</button>
        </form>
    </div>
    <a href="{% url 'index' %}">Back to index</a>
    {% if comments %}
    <h3>comments</h3>
        {% for comment in comments %}
            <div class="divider"></div>
            <a href="{% url 'user_profile' username=comment.created_by.username %}">{{comment.created_by}}</a>
            <span>{{comment.date_time}}</span>
            <p>{{comment.content}}</p>
            {% if request.user == comment.created_by %}
            <div style="text-align: right;">
                <span>comment moves:</span>
                <form action="{% url 'delete_comment' %}" id="delete-comment-form-{{ comment.id }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <a href="#" onclick="document.getElementById('delete-comment-form-{{ comment.id }}').submit(); return false;">Delete comment</a>
                </form>
            </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <h3>no comments yet</h3>
    {% endif %}
{% endblock %}

{% block main_bottom %}
<form action="{% url 'new_comment' %}" method="post">
    {% csrf_token %}
    <input type="text" name="comment_content" placeholder="Add a comment..." required>
    <input type="hidden" name="post_id" value="{{this_post.id}}">
</form>
{% endblock %}

{% block explorer %}
<a href="{% url 'index' %}">Index</a>
<a href="{% url 'all_users' %}">People</a>
{% endblock %}