{% extends './base.html' %}

{% block main %}
<h6>user profile</h6>
<div class="divider"></div>
{% if is_friend %}
    <p>friendship accepted</p>
{% else %}
    <p>not a friend</p>
{% endif %}
<h3>{{user.username}}</h3>
<h6>{{user.first_name}} {{user.last_name}}</h6>
{% for post in posts %}
    <p>{{ post.created_by }}</p>
    <p>{{ post.content }}</p>
    <a href="{% url 'post_detail' post_id=post.id %}">read</a>
{% endfor %}
{% endblock %}

{% block overlap %}
{% endblock %}

{% block explorer %}
<a href="{% url 'index' %}">index</a>
{% endblock %}
