{% extends './base.html' %}

{% block sidebar %}
    {% if my_friends_list %}
    <ul>
        {% for friend in my_friends_list %}
        <li>
            <a href="{% url 'user_profile' user_id=friend.id %}">{{friend.username}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>no friends yet</p>
    {% endif %}
{% endblock %}

{% block main %}
    <h6>user profile</h6>
    <div class="divider"></div>
    <h3>{{this_user.username}}</h3>
    <h6>{{this_user.first_name}} {{this_user.last_name}}</h6>
{% if friendship and friendship.is_active %}
    <p>friend</p>
    <div class="row">
        <div class="col6">
            <form action="{% url 'block_user' user_to_block_id=this_user.id %}">
                {% csrf_token %}
                <button class="warning" type="submit">block</button>
            </form>
        </div>
        <div class="col6">
            <form action="{% url 'delete_friendship' to_user_id=this_user.id %}">
                {% csrf_token %}
                <button class="danger" type="submit">remove</button>
            </form>
        </div>
    </div>
{% elif friendship and not friendship.is_active %}
    <p>friendship request pending</p>
    <form action="{% url 'delete_friendship' to_user_id=this_user.id %}">
        {% csrf_token %}
        <button class="warning" type="submit">withdraw request</button>
    </form>
{% else %}
    <p>not a friend</p>
    <form action="{% url 'send_friendship_request' to_user_id=this_user.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="to_user_id" value="{{user.id}}">
        <button class="success" type="submit">send request</button>
    </form>
{% endif %}
    <div class="divider"></div>
    <h5>latest by {{this_user.username}}</h5>
{% for post in posts %}
    <div class="divider"></div>
    <span>written by {{ post.created_by }} on {{post.date_time}}</span>
    <p>{{ post.content }}</p>
    <a href="{% url 'post_detail' post_id=post.id %}">Read</a>
{% endfor %}
{% endblock %}

{% block overlap %}
{% endblock %}

{% block explorer %}
<a href="{% url 'index' %}">Index</a>
<a href="{% url 'all_users' %}">Algrant people</a>
{% endblock %}
