{% extends '../base.html' %}

{% block sidebar %}
    {% if my_friends_list %}
    <ul>
        {% for friend in my_friends_list %}
        <li>
            <a href="{% url 'user_profile' user_id=friend.id %}">{{friend.username}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>no friends yet</p>
    {% endif %}
{% endblock %}

{% block main %}
<h6>account management</h6>
<div class="divider"></div>
<h3>{{ user.username }}</h3>
<a href="{% url 'user_logout' %}">Logout</a>
<a href="{% url 'password_change' %}">Change password</a>
{% for post in posts %}
    <div class="divider"></div>
    <span>{{post.date_time}}</span>
    <p>{{ post.content }}</p>
    <a href="{% url 'post_detail' post_id=post.id %}">Learn more</a>
{% endfor %}
</div>
{% endblock %}

{% block explorer %}
<a href="{% url 'index' %}">Index</a>
{% endblock %}
